.social {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #aaa;
    transition: 0.3s;
    font-size: 12px;
    &:hover{
      background: #F25822;
      color: #FFFFFF;
    }
  }

.social--left {
    justify-content: start;
  a{
    width: 30px;
    height: 30px;
  }
  }

// .social-link--big{
//     width: 30px;
//     height: 30px;
// }